################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/actions/FileContentIndex
/.vs/slnx.sqlite
/.vs/actions/v17/.suo
/.vs/VSWorkspaceState.json
